<table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">User ID</th>
        <th scope="col">User Name</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Email</th>
        <th scope="col">Phone Number</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.userId }}</td>
        <td>{{ user.userName }}</td>
        <td>{{ user.dob }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phoneNumber }}</td>
        <td><button class="btn btn-info">Update</button></td>
        <td><button class="btn btn-danger"  (click)="deleteUser()">Delete</button></td>
      </tr>
    </tbody>
  </table>

